<div class="card">
    <div class="card-header">
        <div>
              <a class="link" href="/api/category/{{id}}">
            <img src="{{image}}" style="width: 385px;height: 230px;"></a>

</a>
    
  <h2> {{access_name}}</h2>
  Price : {{price}}
  In Stock :{{stock}}

        </div>
    </div>
       
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


