<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a99135b659.js" crossorigin="anonymous"></script>
  
  <link rel = "stylesheet" href = "/css/style.css">
<section id="cart">
    My shopping list
 <div class="container">
    {{#each cart_products as | products|}}
    <div class="row">
      <div class="col-lg-6">
        <div class="card " style="width: 18rem;">
          <img src={{item_image}} class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="car">
          <h5 class="card-title ">{{item_name}}</h5> 
          <p class="card-text ">Price: ${{item_price}}</p>
          <p class="card-text">Quantity: {{quantity}}</p>
          <p class="card-text">total: $ <span class="total">{{total}}</span></p>
           {{newTotal}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <p>Subtotal: <span class="subtotal"></span></p>
</section>
<br>
<a href="/checkout" style="color:green">Ready to Checkout?</a>
</br>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"
  ></script>

  <script>
 var data = document.querySelectorAll('.total');
 console.log('data'+ data)
 var sum=0;
for (var i=0;i<data.length;i++) {
    console.log(data[i].className + " " + data[i].childNodes[0].nodeValue);
    var price = data[i].childNodes[0].nodeValue.toString().split('$')[ data[i].childNodes[0].nodeValue.toString().split('$').length - 1];
   
    sum=sum + parseInt(price);
    document.querySelector('.subtotal').textContent  = '$' + sum

}
</script>
{{!-- <script src="/js/renderCart.js"></script> --}}